/* 32px -> 23pt, 48px -> 35pt */

html
{
 position: relative;
 min-height: 100%;
}

body
{
  margin-bottom: 2em;
}

.footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  line-height: 2em;
  background-color: #f8f8f8;
  font-size: small;
}

.navbar-fixed-top
{
 border-radius: 0;
 background-color: #444;
}

.navbar-fixed-top li
{
 border-left: 1px solid transparent;
 border-right: 1px solid transparent;
}

.navbar-fixed-top a
{
 outline: none;
}

.navbar-fixed-top li.active
{
 border-left: 1px solid #222;
 border-right: 1px solid #888;
}

.page-body
{
 margin-top: 35pt;
}

.global-loading-indicator
{
 position: fixed;
 display: block;
 float: right;
 top: 45pt;
 right: 20pt;
 z-index: 100;
}

.overviewInfo
{
 color: #888;
 padding-left: 0.5em;
 font-size: small;
}

.details-icon
{
 float: right;
 position: relative;
}

.timer-overview-options
{
 float: right;
 position: relative;
 padding-right: 1em;
}

.timer-overview-options div
{
 position: static;
 right: 16pt;
 padding-top: 1.5em;
 white-space: nowrap;
 text-align: right;
}

.font-normal
{
 font-weight: normal !important;
}

table#timer-overview th
{
 background-color: #ddd;
}

.timer-tooltip .tooltip-inner
{
 text-align: left;
 min-width: 50em;
}

tr.timer-enabled .enabled-indicator a,
tr.timer-disabled .enabled-indicator a,
tr.timer-recording .enabled-indicator a
{
 padding: 4pt;
}

tr.timer-recording .enabled-indicator a
{
 color: #c44;
}

tr.timer-recording .enabled-indicator a:HOVER
{
 text-decoration: none;
 color: #f77;
}

tr.timer-enabled .enabled-indicator a
{
 color: #484;
}

tr.timer-enabled .enabled-indicator a:HOVER
{
 text-decoration: none;
 color: #7d7;
}

tr.timer-disabled .enabled-indicator a
{
 color: #666;
}

tr.timer-disabled .enabled-indicator a:HOVER
{
 text-decoration: none;
 color: #000;
}

tr.timer-disabled td
{
 color: #999;
 text-decoration: line-through;
}

.vertical-toolbar
{
 margin-top: 8pt;
 margin-left: 0;
 background-color: #eee;
}

.vertical-toolbar .nav-item
{
 border-top: 1px solid #fff;
 display: block;
 padding: 8pt;
}

.vertical-toolbar .spacer
{
 background-color: #fff;
}

.vertical-toolbar .nav-link
{
 padding: 0;
 text-align: center;
 color: #444;
}

.vertical-toolbar .nav-link:HOVER
{
 color: #fff;
}

.vertical-toolbar .nav-link.disabled
{
 color: #aaa;
}

.vertical-toolbar .nav-link .secondary
{
 position:absolute;
 left:-8px;
 top:-8px;
 color: #999;
}

.vertical-toolbar .nav-link.disabled .secondary
{
 position:absolute;
 left:-8px;
 top:-8px;
 color: #fff;
}

.fixed
{
 position: fixed;
}

ul.global-messages
{
 list-style: none;
 padding: 0;
 margin: 0;
}

table.keyvalue-table th
{
 padding-right: 1em;
 vertical-align: top;
}

table.keyvalue-table td
{
 vertical-align: top;
}

.text-pre-wrap
{
 white-space: pre-wrap;
}

.osd-item_sel
{
 background-color: #ccc;
}

.osd-btn
{
 width: 4em;
 text-align: center;
}

.osd-btn_red
{
 background-color: #e66;
}

.osd-btn_green
{
 background-color: #6e6;
}

.osd-btn_yellow
{
 background-color: #ee6;
}

.osd-btn_blue
{
 background-color: #66e;
}

.osd-title td
{
 padding-bottom: 0.5em;
 font-weight: bold;
}

.osd-message td
{
 padding-top: 0.5em;
 color: #22a;
}

.osd-remote
{
 border: 8pt solid #e0e0e0;
 background-color: #e0e0e0;
 border-collapse: true;
}

.osd-remote td,
.osd-remote td table td
{
 padding: 4pt;
 text-align: center;
 height: 1.5em;
 width: 4em;
}

.osd-remote td.key
{
 background-color: #eee;
 border: 1px solid #888;
 cursor: pointer;
}

.osd-remote td.key-red
{
 background-color: #e00;
}

.osd-remote td.key-green
{
 background-color: #0e0;
}

.osd-remote td.key-yellow
{
 background-color: #ee0;
}

.osd-remote td.key-blue
{
 background-color: #00e;
}

.osd-remote td.key:HOVER
{
 background-color: #f8f8f8;
}

.osd-screen
{
 border: 4px solid #eee;
 min-height: 25em;
 padding: 8pt;
}

.osd-screen .color-buttons
{
 margin-top: 1em;
}

.description-text p
{
 margin-bottom: 0.4em;
}

.clickable
{
 cursor: pointer;
}
