<div class="row">
 <div class="col-sm-1"></div>
 <div class="col-sm-11">
  <div class="timer-overview-options">
   <div>
    <label class="font-normal" for="showAll" translate="timer.overview.showAll"></label>
    <input id="showAll" type="checkbox" ng-model="showAll" />
   </div>
  </div>
  <h2 translate="timer.overview.caption"></h2>
  <table id="timer-overview" class="table table-condensed table-hover">
   <tr ng-repeat-start="t in timers|orderBy:'startTime'|timerFilterState:showAll"
       ng-if="isNewDay(t)">
    <th colspan="3">{{t.startTime|date:'fullDate'}}</th>
   <tr/>
   <tr ng-repeat-end ng-if="t.state!='DISABLED' || showAll"
       class="timer-{{t.state|lowercase}}">
    <td class="enabled-indicator">
     <a ng-show="t.state=='ENABLED'" title="{{'timer.overview.timerEnabledTip'|translate}}"
        class="fa fa-check-square-o" href="" ng-click="disableTimer(t)"></a>
     <a ng-show="t.state=='RECORDING'" title="{{'timer.overview.timerRecordingTip'|translate}}"
        class="fa fa-circle" href="" ng-click="disableTimer(t)"></a>
     <a ng-show="t.state=='DISABLED'" title="{{'timer.overview.timerDisabledTip'|translate}}"
        class="fa fa-square-o" href="" ng-click="enableTimer(t)"></a>
    </td>
    <td>{{t.startTime|date:'shortTime'}}</td>
    <td uib-tooltip-html="tooltip" tooltip-class="timer-tooltip"
        tooltip-placement="top-left" tooltip-popup-delay="500" tooltip-append-to-body="true"
        ng-mouseover="mouseOver(t)">{{t.path}} ~ {{t.title}} <span class="overviewInfo"
        translate="duration.min" translate-values="{t:t.duration}"></span></td>
   </tr>
  </table>
  <div ng-show="!timers">No timers defined</div>
 </div>
</div>
