<div class="row">
 <div class="col-sm-1">
  <nav id="actionButtons" class="vertical-toolbar fixed">
   <ul class="nav">
    <li class="nav-item" title="{{'recording.overview.move.toolTip'|translate}}">
     <a class="nav-link disabled" href="" ng-click="moveAction()"><span class="fa fa-mail-forward fa-2x" /></a>
    </li>
    <li class="nav-item" title="{{'recording.overview.delete.toolTip'|translate}}">
     <a class="nav-link disabled" href="" ng-click="deleteAction()"><span class="fa fa-trash fa-2x" /></a>
    </li>
   </ul>
  </nav>
 </div>
 <div class="col-sm-11">
  <h2 translate="recording.overview.caption" />
  <div id="recordingsTree" />
 </div>
</div>
