<div class="row">
 <div class="col-sm-1"></div>
 <div class="col-sm-11">
  <h2 ng-show="id>=0" translate="searchtimer.details.caption"></h2>
  <h2 ng-show="id<0" translate="searchtimer.details.captionCreate"></h2>
  <form class="form-horizontal">
   <div class="form-group">
    <label class="col-sm-2 control-label" for="search" translate="searchtimer.details.search"></label>
    <div class="col-sm-10">
     <input type="text" id="search" ng-model="timer.search" class="form-control" />
    </div>
   </div>
   <div class="form-group">
    <label class="col-sm-2 control-label" translate="searchtimer.details.searchMode"><</label>
    <div class="col-sm-10">
     <input id="searchModeAll" type="radio" ng-model="timer.searchMode" value="ALL_WORDS" />
     <label class="font-normal" for="searchModeAll" translate="searchtimer.details.matchAllWords"></label>
     &nbsp;
     <input id="searchModeAny" type="radio" ng-model="timer.searchMode" value="ANY_WORD" />
     <label class="font-normal" for="searchModeAny" translate="searchtimer.details.matchAnyWord"></label>
     &nbsp;
     <input id="searchModeExact" type="radio" ng-model="timer.searchMode" value="EXACT" />
     <label class="font-normal" for="searchModeExact" translate="searchtimer.details.matchExact"></label>
     &nbsp;
     <input id="searchModeSubstr" type="radio" ng-model="timer.searchMode" value="SUBSTRING" />
     <label class="font-normal" for="searchModeSubstr" translate="searchtimer.details.matchSubstring"></label>
    </div>
   </div>
   <div class="form-group">
    <label class="col-sm-2 control-label" for="searchCase" translate="searchtimer.details.caseSensitive"></label>
    <div class="col-sm-1">
     <input type="checkbox" id="searchCase" ng-model="timer.isCaseSensitive" />
    </div>
   </div>
   <div class="form-group">
    <label class="col-sm-2 control-label" translate="searchtimer.details.searchIn"></label>
    <div class="col-sm-10">
     <input id="searchInTitle" type="checkbox" ng-model="timer.searchTitle" />
     <label for="searchInTitle" class="font-normal" translate="searchtimer.details.searchInTitle"></label>
     &nbsp;
     <input id="searchInSubtitle" type="checkbox" ng-model="timer.searchSubtitle" />
     <label for="searchInSubtitle" class="font-normal" translate="searchtimer.details.searchInSubtitle"></label>
     &nbsp;
     <input id="searchInDescription" type="checkbox" ng-model="timer.searchDescription" />
     <label for="searchInDescription" class="font-normal" translate="searchtimer.details.searchInDescription"></label>
    </div>
   </div>
   <div class="form-group">
    <label class="col-sm-2 control-label" translate="searchtimer.details.startTimeRange"></label>
    <div class="col-sm-2 input-group clockpicker">
     <input type="text" class="form-control" ng-model="startTimeMin">
     <span class="input-group-addon">
      <span class="fa fa-clock-o"></span>
     </span>
    </div>
    <div class="col-sm-1" translate="searchtimer.details.startTimeRangeAnd" />
    <div class="col-sm-2 input-group clockpicker">
     <input type="text" class="form-control" ng-model="startTimeMax">
     <span class="input-group-addon">
      <span class="fa fa-clock-o"></span>
     </span>
    </div>
   </div>
  </div>
 </form>
</div>
