<div class="modal-content ng-scope">
 <div class="modal-header">
  <button type="button" class="close" ng-click="reject()" data-dismiss="modal" aria-label="Close">
   <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">{{title}}</h4>
 </div>
 <div class="modal-body">
  <p>{{message}}</p>
 </div>
 <div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$close()">{{acceptLabel}}</button>
  <button class="btn btn-secondary" type="button" ng-click="$dismiss()">{{rejectLabel}}</button>
 </div>
</div>
