<div class="modal-content ng-scope">
 <div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
 </div>
 <div class="modal-body">
  <p>{{message}}</p>
  <p ng-show="errorMessage" class="text-danger">{{errorMessage}}</p>
  <uib-progressbar class="progress-striped" type="{{type}}" animate="false"
                   value="value" max="maxValue">{{value}} / {{maxValue}}</uib-progressbar>
 </div>
 <div class="modal-footer">
  <button ng-hide="active" class="btn btn-primary" type="button" ng-click="accept()">{{acceptLabel}}</button>
  <button ng-show="active" class="btn btn-secondary" type="button" ng-click="abort()">{{abortLabel}}</button>
 </div>
</div>
